body {
    background-color: rgba(240, 240, 200, 1);
}
.content {
    margin: auto;
    width: 80%;
    border: solid 1px;
    text-align: center;
}
#search-field {
    margin: 10px;
    border: none;
}
#search-button {
    border: none;
    background-color:  rgba(240, 240, 200, 1);
}
#customer-list {
    width: fit-content;
    height: 400px;
    margin-top: 20px;
    border: solid 1px;
    margin: 0 auto;
    margin-bottom: 10px;
    overflow: scroll;
    background-color: white;
}

table {
    font-size: 14px;
    border: 1px solid lightgrey;
    
}

th {
    font-size: 14px;
    padding: 5px;
    border: 1px solid black;
}

td {
    border: 1px solid lightgrey;
}
