body {
    background-color: rgba(240, 240, 200, 1);
}
.content {
    margin: auto;
    width: 80%;
    border: solid 1px;
    text-align: center;
}
#search-field {
    margin: 10px;
    border: none;
}
#search-button {
    border: none;
    background-color:  rgba(240, 240, 200, 1);
}
#search-button:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}
#start-cluster {
    border: none;
    background-color: rgba(240, 240, 200, 1);
}
#start-cluster:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}


#customer-list {
    width: fit-content;
    height: 400px;
    margin-top: 20px;
    border: solid 1px;
    margin: 0 auto;
    margin-bottom: 10px;
    overflow: scroll;
    background-color: white;
}

table {
    font-size: 14px;
    border: 1px solid lightgrey;
    
}

th {
    font-size: 14px;
    padding: 5px;
    border: 1px solid black;
}

td {
    border: 1px solid lightgrey;
}
