body {
    background-color: rgba(240, 240, 200, 1);
}
.content {
    margin: auto;
    width: 80%;
    border: solid 1px;
    text-align: center;
}
#search-field {
    margin: 10px;
    border: none;
}
#search-button {
    border: none;
    background-color:  rgba(240, 240, 200, 1);
}
#customer-list {
    width: 400px;
    height: 400px;
    margin-top: 20px;
    border: solid 1px;
    margin: 0 auto;
    margin-bottom: 10px;
    overflow: scroll;
    background-color: white;
}